body {
    background-color: #000000;
}

p {
    color: #ffffff;
}

h2 {
    color:#ffffff;
}

li {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

a {
    color: aqua;
}

.terminids {
    color:#FFB901;
}
.automatons {
    color:#FF6161;
}
.illuminates {
    color:#CD8AEA;
}

.bonus_game {
    color: lime;
}